body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: gold;
    background-image: linear-gradient(60deg,#2c3e50 20%,#3df5a7 75%,#138d75 100%);
    color: #ecf0f1;
    text-align: center;
    user-select: none;
    cursor: no-drop;

    background-size: 400% 400%;
    animation: aurora-flow 5s ease infinite;
    max-width: auto;
    background-color: white;
}
    @keyframes aurora-flow {
        0% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
    }
    /* background: linear-gradient(110deg,
      #020b1a 0%,
      #052c3e 30%,
      #138d75 45%,
      #3df5a7 60%,
      #8e44ad 85%,
      #2c3e50 100%);
  background-size: 400% 400%;
  animation: aurora-flow 12s ease infinite;
  max-width: auto;
  background-color: white; */


.countdown-container {
    background: skyblue;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px gray;
    
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffff;
    margin-top: 15px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#countdown {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    background: #2980b9;
    padding: 15px;
    border-radius: 8px;
    min-width: 80px;
}

.time-unit span {
    font-size: 3em;
    font-weight: bold;
    color: #ecf0f1;
}

.time-unit label {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 5px;
}

#message {
    font-size: 3em;
    color: #2ecc71;
    margin-top: 40px;
    font-weight: bold;
}

.hidden {
    display: none;
}