body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: gold;
    background-image: linear-gradient(60deg,#2c3e50 20%,#3df5a7 75%,#138d75 100%);
    color: #ecf0f1;
    text-align: center;
    user-select: none;
    cursor: no-drop;

    background-size: 400% 400%;
    animation: aurora-flow 5s ease infinite;
    max-width: auto;
    background-color: white;
}
    @keyframes aurora-flow {
        0% {
          background-position: 0% 50%;
        }
      
        50% {
          background-position: 100% 50%;
        }
      
        100% {
          background-position: 0% 50%;
        }
    }
    /* background: linear-gradient(110deg,
      #020b1a 0%,
      #052c3e 30%,
      #138d75 45%,
      #3df5a7 60%,
      #8e44ad 85%,
      #2c3e50 100%);
  background-size: 400% 400%;
  animation: aurora-flow 12s ease infinite;
  max-width: auto;
  background-color: white; */


.hidden {
    display: none;
}
.newyear,.countdown{
  font-family: cursive;
}


